<script type="text/template" id="action_view_template">
    <%= id %> | 
    <%= time %> | 
    <%= name %> |
    <%= action_type %> 
</script>

<script src="{{ url_for('static', filename='js/lib/underscore-min.js')}}"></script>
<script src="{{ url_for('static', filename='js/lib/backbone-min.js')}}"></script>

<script src="{{ url_for('static', filename='js/module/action/model/action.js')}}"></script>
<script src="{{ url_for('static', filename='js/module/action/model/colAction.js')}}"></script>

<script src="{{ url_for('static', filename='js/module/action/view/actionView.js')}}"></script>
<script src="{{ url_for('static', filename='js/module/action/view/colActionView.js')}}"></script>

<script src="{{ url_for('static', filename='js/module/app.js')}}"></script>
