{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
Title
{% endblock %}

{% block content %}
<div class='container'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in mesages %}
    <div class='alert alert-info' role='alert'>
    {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% block app_content %}
{% endblock %}
{% endblock %}

{% block navbar %}
{{ nav.top.render() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include '_js_import.html' %}
{% endblock %}
