{% extends 'base.html' %}

{% block app_content %}
    <pre id="output"></pre>
    <script>
        var output = document.getElementById('output');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/stream');
        xhr.send();
        var temp = '';
        setInterval(function(){
            // output.textContent = xhr.responseText;
            if(temp.trim() !== xhr.responseText.trim()){
                output.textContent = xhr.responseText;
                window.scrollTo(0,document.body.scrollHeight);
            }
            temp = output.textContent;
        }, 1000);
    </script>
{% endblock %}
