{% extends 'base.html' %}

{% block app_content %}
    <pre id="output"></pre>
    <script>
        var output = document.getElementById('output');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/stream_run');
        xhr.send();
        var temp = '';
        function getDifference(a, b)
        {
            var i = 0;
            var j = 0;
            var result = "";

            while (j < b.length)
            {
            if (a[i] != b[j] || i == a.length)
                result += b[j];
            else
                i++;
            j++;
            }
            return result;
        }
        setInterval(function(){
            // output.textContent = xhr.responseText;
            if(temp.trim() !== xhr.responseText.trim()){
                var msg_to_speak = getDifference(temp.trim(), xhr.responseText.trim());
                msg_to_speak = msg_to_speak.replace(/\d{1}:\d{2}:\d{2} : /g, '')
                var msg = new SpeechSynthesisUtterance(msg_to_speak);
                window.speechSynthesis.speak(msg);
                output.textContent = xhr.responseText;
                window.scrollTo(0,document.body.scrollHeight);
            }
            temp = output.textContent;
        }, 1000);
    </script>
{% endblock %}
